@import "./variables";

.aboutContainer {
   // @include fullScreen;
width: 100vw;
height: 70vh;

    


    .textLayout {
        display: flex;

        width: fit-content;
        margin: auto;

        .textContainer {
            width: fit-content;
            margin: 40px;
            list-style: none;


            .wrapAboutInfo {
                width: 1000px;
            }

            li {
                margin: 10px;
            }
        }
    }


}
