.banner {
    background-image: url("https://www.roberthalf.com/sites/default/files/2020-06/web-developer-questions.jpg");
   
    width: 100vw;
    height: 100vh;
    

    .cover {
        background-color: rgba(0, 0, 0, 0.397);
        width: 100vw;
        height: 100vh;
    }

}