@import "./variables";

.banner {
    background-image: url("https://www.roberthalf.com/sites/default/files/2020-06/web-developer-questions.jpg");

    width: 100vw;
    height: 100vh;


    .cover {
        background-color: rgba(0, 0, 0, 0.7);
        @include fullScreen;
        color: white;
        display: grid;
        place-items: center;

        grid-template-rows: auto 100px;

        a {
            @include centerItems;
            width: fit-content;
            animation: UpDown  1s alternate-reverse infinite;
            svg {
                animation: upAndDown 1s;

                @keyframes upAndDown {}



            }
        }


        .textLayout {
            text-align: center;
            @include fitContent;



            li {
                list-style: none;
                margin: 20px;



                .typing {

                    padding: 10px;
                    border-right: 4px solid $buttonColor;
                    white-space: nowrap;
                    margin: 0 auto;
                    overflow: hidden;

                    animation: typing 3.5s steps(40, end) alternate-reverse infinite, blink-caret 1s step-end infinite;



                    @keyframes typing {
                        from {
                            width: 0;
                        }

                        to {

                            width: 100%;

                        }

                    }



                    @keyframes blink-caret {

                        from,
                        to {
                            border-color: transparent;
                        }

                        50% {
                            border-color: white;
                        }
                    }
                }




            }

            h1 {
                text-align: center;
                @include fitContent;
                position: relative;
                margin: auto;
                font-size: 50px;
            }
        }
    }
}