@import "./variables";

.contactLayout {
    @include fullScreen;
    height: fit-content;
    @include navSpace;


    .AddressLayout {
        margin: auto;
        padding: 50px;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        gap: 1rem;
        height: auto;
    }

    form {
        display: grid;
        grid-template-columns: 500px 500px;
        grid-template-rows: 50px;
        gap: 1rem;

        .formStyle {
            border: 2px solid #70b4fc;
            border-radius: 5px;
 
        }

        button {
            grid-column: span 2;
            place-self: center;
        }

        textarea {
            grid-column: span 2;
        }
    }

}