@import "./variables";

.NavWrapper {
   position: fixed;
   top: 0;
   width: 100vw;
   background: $navBackGroundColor;
   @include centerItems;

   z-index: 1000;

   .nav {

      list-style: none;
      background-color: transparent;

      display: flex;
      @include fitContent;





      li {
         @include centerItems;
         margin: 5px;
         height: fit-content;
        a{
           font-weight: bold;
        } 

         h1 {
            color: white;
            position: absolute;
            left: 10px;
         }

      }
   }
}