.projectsLayout {
    background-color: $backgroundFade;
    @include fullScreen;
    @include navSpace;

    .ProjectWrapper {
        @include centerItems;

        width: 1000px;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem;

        .cards {
            margin: 5px;
            border-radius: 5px;
            background-color: $buttonColor;




        }

        .small {
            width: 350px;
            height: 350px;
        }

        .medium {
            width: 650px;
            height: 350px;
        }

        .large {
            grid-column: span 2;
            width: 100%;
            height: 250px;
        }


      .ecom {
          //  background: url();
        }

        .spotify {
          //background: url(http://localhost:8081);
        }
 
        .trello {
            background-image: url(https://th.bing.com/th/id/OIP.XGe9X3_u9ugycooO0KtbAwHaEC?pid=ImgDet&rs=1);
            
        }
    }
}